{% extends 'base.html' %} 
<head>
    <link rel="stylesheet" href="app.css">
</head>
{% block body %}

<header>
    <a href="/create" class="btn btn-primary" role="button">Create new task</a>
</header>

<div class="container">

    {% for post in posts %}

    <div class="d-inline-flex">
                
                <!-- カードの情報 -->
                <div class="card text-white">
                    <img src="static/images/nikita-tarasevich-dQk2mqURSzk-unsplash.jpg" class="card-img">
                    <div class="card-img-overlay">

                        <h2 class="card-title">{{ post.title }}</h2>


                        <div class="flex">
                            {% if post.due.date() < today %}
                            <i class="bi bi-exclamation-diamond"></i>
                            {% endif %}
                        
                            <p>期限：{{ post.due.date() }}</p>
                        </div>
                        
                        <a href="/detail/{{ post.id }}" role="button">Detail</a>
                        <a href="/update/{{ post.id }}" role="button">Update</a>
                        <a href="/delete/{{ post.id }}" role="button">Delete</a>
                    </div>
                </div>

    </div>  

    {% endfor %} 

</div>

{% endblock %}
